

body{
    background-color: white;
}

.navbar-brand
{
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10PX;
}
.navbar-brand a {
    color: white;
}
#nav_lan{
    color: white;
}
.navbar{
    background-color: #0f3259;
}

.navbar
{
    padding: 1em 0 !important;
}
.navbar-toggler
{
    border: none !important;
    outline: none !important;
}
.banner
{
    padding-left: 60px;
    padding-right: 60px;
}
.home-header
{
    color: red;
    background-position: center;
    background-size: cover;
}
.card-text{color: black}
img{
    opacity:0.8;
    -moz-opacity:0.8;filter: alpha(opacity=) black;
    -khtml-opacity: 0.8;
    background-color:black;
}
.container-fluid{
    background-color: white;
    height: 150px;
}
h1{
    color: #0f3259;
    font-weight: 300;
    font-style: italic;
    float: left;
    padding-top: 20px;
    /* float: left; */
    margin-left: 20px;
}
h5{
    color: black;

}
.d-flex{
    padding-top: 80px;
}



.card-data {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
}

.card{

    width: 50%;

}
.card-img-top{
    background-color: white;
    height: 400px;
}

.publication{
    color:#0f3259;

}
.post-date{
    font-size: 15px;
    color:#495057;
}
.navbar-brand{
    color: white;
}
.navbarNav{
    color: #0f3259;
}
.nav-link{
    color: white;
}
.card-body{
    background-color: white;
}


.navbar-light .navbar-nav .nav-link a {color:
white}
.btn-secondary {
    color: #495057;
    background-color: white;
    border-color: #0f3259;
}
#nav_publ{
    background-color: #0f3259 ;color: white;font-weight: 700;margin-bottom: 20px;border: 1px solid white;
    margin-top: 20px;
}
.nav justify-content-center{}
/*.btn {*/
/*    color: white;*/
/*}*/
.row{
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;

    border: 1px solid #0f3259;
}
.row h5{
    color:#495057;
}
#btn_read_more{
    color: #0f3259;
}



